body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --purple: #8e44ad;
  --purple-contrast: #732d91;
  --gray-1: #ccc;
  --gray-2: #bbb;
  --gray-3: #eee;
  --white: #fff;
  --black: #000;
  --purple-light: #f3e5f5;
  --shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
